<div class="employee-container">
    <h2>Employee Management System</h2>
    <div *ngIf="!isAddClicked">
      <button class="add-button" (click)="addEmployee()">Add Employee</button>
      <div *ngFor="let employee of employees" class="employee-card">
        <div class="employee-details">
          <div>
            <span class="employee-name">{{ employee.name }}</span>
            <br>
            <span class="employee-department">{{ employee.email }}</span>
          </div>
          <button class="delete-button" (click)="deleteEmployee(employee)">Delete</button>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="isAddClicked">
      <form>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput type="text" name="firstName">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput type="text" name="lastName">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Email Id</mat-label>
          <input matInput type="text" name="email">
        </mat-form-field>
      </form>
    </div>
    
  </div>
  